@model IEnumerable<WebService.WebClient.Models.BANKS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BANK_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANK_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BANK_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANK_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATIONS.STREET_ADDRESS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
